In [1]:
#!conda install openpyxl

In [2]:
# import pandas module
import pandas as pd
import re
import numpy as np

# creating a data frame
data = pd.read_excel('Site_Cherfech.xlsx')#, usecols=['Column17', 'Column18', 'Column25', 'Column26'])
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Column1,Column2,Column9,Column10,Column17,Column18,Column25,Column26
1,NaN,A1_4xAA,Soil_tension / SoilHumiditySensor,A2_solar_x2_01,Soil_moisture / SoilHumiditySensor,A3_solar_x2_02,Soil_tension / SoilHumiditySensor,A4_solar_x1_01,Soil_tension / SoilHumiditySensor
2,NaN,2022-12-08T13:55:07+01:00,0,2022-12-08T13:51:08+01:00,0,2022-12-08T13:57:27+01:00,0,2022-12-08T13:50:41+01:00,0
3,NaN,2022-12-08T14:04:18+01:00,0,2022-12-08T14:00:33+01:00,0,2022-12-08T14:07:00+01:00,0,2022-12-08T14:00:22+01:00,0
4,NaN,2022-12-08T14:04:18+01:00,0,2022-12-08T14:00:33+01:00,0,2022-12-08T14:07:00+01:00,0,2022-12-08T14:00:22+01:00,0

In [3]:
df_a2 = data[['Unnamed: 3', 'Unnamed: 4']]
df_a2 = df_a2[2:]
df_a2 = df_a2.rename(columns={'Unnamed: 3': 'Time1'})
df_a2 = df_a2.rename(columns={'Unnamed: 4': 'A2_soil_moisture_in_cb'})
df_a2['Time1']=pd.to_datetime(df_a2['Time1'])
df_a2 = df_a2.set_index('Time1')
df_a2.head()

                          A2_soil_moisture_in_cb
Time1
2022-12-08 13:51:08+01:00                      0
2022-12-08 14:00:33+01:00                      0
2022-12-08 14:00:33+01:00                      0
2022-12-08 14:09:58+01:00                      0
2022-12-08 14:19:24+01:00                      0

In [4]:
df_a3 = data[['Unnamed: 5', 'Unnamed: 6']]
df_a3 = df_a3[2:]
df_a3 = df_a3.rename(columns={'Unnamed: 5': 'Time1'})
df_a3 = df_a3.rename(columns={'Unnamed: 6': 'A3_soil_moisture_in_cb'})
df_a3['Time1']=pd.to_datetime(df_a3['Time1'])
df_a3 = df_a3.set_index('Time1')
df_a3.tail()

                          A3_soil_moisture_in_cb
Time1
2023-06-03 02:37:37+01:00                      0
2023-06-03 02:47:13+01:00                      0
2023-06-05 12:14:55+01:00                      0
2023-06-05 12:24:30+01:00                      0
2023-06-05 12:34:10+01:00                      0

In [5]:
df_a4 = data[['Unnamed: 7', 'Unnamed: 8']]
df_a4 = df_a4[2:]
df_a4 = df_a4.rename(columns={'Unnamed: 7': 'Time2'})
df_a4 = df_a4.rename(columns={'Unnamed: 8': 'A4_soil_moisture_in_cb'})
df_a4['Time2']=pd.to_datetime(df_a4['Time2'])
df_a4 = df_a4.set_index('Time2')
df_a4.tail()

      A4_soil_moisture_in_cb
Time2
NaT                      NaN
NaT                      NaN
NaT                      NaN
NaT                      NaN
NaT                      NaN

In [6]:
# Remove rows with missing values in df2
df_a4.dropna(inplace=True)
df_a2.dropna(inplace=True)

In [7]:
type(df_a4)

pandas.core.frame.DataFrame

In [8]:
# Merge using merge_asof
merged_df23 = pd.merge_asof(df_a2, df_a3, left_on='Time1', right_index=True, direction='backward')
merged_df = pd.merge_asof(merged_df23, df_a4, left_on='Time1', right_index=True, direction='backward')
#merged_df = pd.merge_asof(df_a3, df_a4, left_on='Time1', right_on='Time2', direction='backward')

In [9]:
merged_df.rename(columns={'Time1': 'Time'})

,A2_soil_moisture_in_cb,A3_soil_moisture_in_cb,A4_soil_moisture_in_cb
Time1,,,
2022-12-08 13:51:08+01:00,0,NaN,0
2022-12-08 14:00:33+01:00,0,0,0
2022-12-08 14:00:33+01:00,0,0,0
2022-12-08 14:09:58+01:00,0,0,0
2022-12-08 14:19:24+01:00,0,0,0
...,...,...,...
2023-03-28 10:29:38+01:00,99.19999694824219,93.9000015258789,117.69999694824219
2023-03-28 11:25:26+01:00,168.3000030517578,93.9000015258789,117.69999694824219
2023-03-28 11:25:26+01:00,99.30000305175781,93.9000015258789,117.69999694824219
2023-03-28 12:21:21+01:00,168.5,94,114.5999984741211
2023-03-28 12:21:21+01:00,99.30000305175781,94,114.5999984741211

In [10]:
merged_df.head()

,A2_soil_moisture_in_cb,A3_soil_moisture_in_cb,A4_soil_moisture_in_cb
Time1,,,
2022-12-08 13:51:08+01:00,0,NaN,0
2022-12-08 14:00:33+01:00,0,0,0
2022-12-08 14:00:33+01:00,0,0,0
2022-12-08 14:09:58+01:00,0,0,0
2022-12-08 14:19:24+01:00,0,0,0

In [11]:
merged_df[['A2_soil_moisture_in_cb', 'A3_soil_moisture_in_cb', 'A4_soil_moisture_in_cb']] = merged_df[['A2_soil_moisture_in_cb', 'A3_soil_moisture_in_cb', 'A4_soil_moisture_in_cb']].apply(pd.to_numeric, errors='coerce')

In [12]:
merged_df.dtypes

A2_soil_moisture_in_cb    float64
A3_soil_moisture_in_cb    float64
A4_soil_moisture_in_cb    float64
dtype: object

In [13]:
data_re = merged_df.resample('60T').mean().round(2)
data_re.head()

,A2_soil_moisture_in_cb,A3_soil_moisture_in_cb,A4_soil_moisture_in_cb
Time1,,,
2022-12-08 13:00:00+01:00,0.0,NaN,0.0
2022-12-08 14:00:00+01:00,0.0,0.0,0.0
2022-12-08 15:00:00+01:00,0.0,0.0,0.0
2022-12-08 16:00:00+01:00,0.0,0.0,0.0
2022-12-08 17:00:00+01:00,0.0,0.0,0.0

In [14]:
data_re = data_re.iloc[:4238]

In [15]:
data_re.dtypes

A2_soil_moisture_in_cb    float64
A3_soil_moisture_in_cb    float64
A4_soil_moisture_in_cb    float64
dtype: object

In [16]:
# soil-water retention curve for sandy clay
soil_water_retention_curve = [
    (0, 0.45),
    (5, 0.40),
    (10, 0.37),
    (20, 0.30),
    (50, 0.25),
    (100, 0.20),
    (200, 0.15),
    (500, 0.10),
    (1000, 0.05),               
]
# this is basically made up to match the weather apis values
soil_water_retention_curve2 = [
    (0, 0.225),
    (5, 0.2),
    (10, 0.185),
    (20, 0.15),
    (50, 0.125),
    (100, 0.1),
    (200, 0.075),
    (500, 0.05),
    (1000, 0.025),               
]

soil_water_retention_curve_loamy_clay = [
    (0, 0.40),
    (10, 0.35),
    (30, 0.30),
    (100, 0.25),
    (500, 0.15),
]

def soil_tension_to_volumetric_water_content(soil_tension, soil_water_retention_curve):
    """
    Convert soil tension (kPa) to volumetric water content (fraction) using a given soil-water retention curve.
    
    Parameters:
        soil_tension (float): Soil tension value in kPa.
        soil_water_retention_curve (list of tuples): A list of tuples containing points on the soil-water retention curve.
            Each tuple contains two elements: (soil_tension_value, volumetric_water_content_value).
    
    Returns:
        float: Volumetric water content as a fraction (between 0 and 1).
    """
    # Sort the soil-water retention curve points by soil tension in ascending order
    sorted_curve = sorted(soil_water_retention_curve, key=lambda x: x[0])
    
    # Find the two points on the curve that bound the given soil tension value
    lower_point, upper_point = None, None
    for tension, water_content in sorted_curve:
        if tension <= soil_tension:
            lower_point = (tension, water_content)
        else:
            upper_point = (tension, water_content)
            break
    
    # If the soil tension is lower than the first point on the curve, use the first point
    if lower_point is None:
        return sorted_curve[0][1]
    
    # If the soil tension is higher than the last point on the curve, use the last point
    if upper_point is None:
        return sorted_curve[-1][1]
    
    # Interpolate to find the volumetric water content at the given soil tension
    tension_diff = upper_point[0] - lower_point[0]
    water_content_diff = upper_point[1] - lower_point[1]
    interpolated_water_content = lower_point[1] + ((soil_tension - lower_point[0]) / tension_diff) * water_content_diff
    
    return interpolated_water_content

def add_volumetric_col_to_df(df, col_name):
    # Iterate over the rows of the dataframe and calculate volumetric water content
    for index, row in df.iterrows():
        soil_tension = row[col_name]
        # Check if the value in the original column is missing (NaN)
        if not pd.isna(soil_tension):
            # Calculate volumetric water content
            volumetric_water_content = soil_tension_to_volumetric_water_content(soil_tension, soil_water_retention_curve_loamy_clay)
            # Assign the calculated value to a new column in the dataframe
            df.at[index, col_name + '_vol'] = volumetric_water_content *100

    return df
    
data_re = add_volumetric_col_to_df(data_re, 'A2_soil_moisture_in_cb')

data_re = add_volumetric_col_to_df(data_re, 'A3_soil_moisture_in_cb')

data_re = add_volumetric_col_to_df(data_re, 'A4_soil_moisture_in_cb')

In [17]:
data_re.to_csv("site_1_data_resampled_only_pressure.csv", index=True)

In [18]:
# Specify the desired date format
data_re.index = data_re.index.astype(str)
data_re.to_excel('site_1_data_resampled_only_pressure.xlsx', index=True)

In [19]:
data_re.index.dtype

dtype('O')